{
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "overrides": [
    {
      "files": ["*.html", "*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
